<div class="bg-linear-to-r from-btg-3 from-50% to-btg-6 to-51% h-20 md:h-39 px-5">
  <div class="flex flex-nowrap h-full mx-auto max-w-300">
    <div
      class="items-center bg-btg-3 flex justify-start text-sm/3.5 md:text-[1.75rem]/7 w-54 md:w-190"
    >
      <p>
        El banco de inversión<br />más grande<span class="md:text-[2rem]">
          de América Latina</span
        >
      </p>
    </div>
    <div class="bg-btg-4 w-5.5 lg:w-34"></div>
    <div class="bg-btg-5 w-3 lg:w-16"></div>
    <div
      class="bg-btg-6 flex items-center justify-end w-45 md:w-123"
    >
      <p class="text-base md:text-[2.125rem]/8 text-right">
        BTG supera<br />sus expectativas
      </p>
    </div>
  </div>
</div>
