---
import "../styles/global.css";
---

<!doctype html>
<html lang="es">
  <head>
    <script is:inline src="https://www.google.com/recaptcha/api.js" async defer
    ></script>
    <!-- Google tag (gtag.js) - Google Analytics -->
    <script
      is:inline
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-B7XMK6DR2C"></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-B7XMK6DR2C");
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>
      BTG Pactual :: Dónde invertir 2026 - Descubra oportunidades de inversión
      para 2026
    </title>
    <meta
      name="description"
      content="BTG Pactual :: Evento en vivo :: Dónde invertir 2026 - Descubra oportunidades de inversión para 2026"
    />
    <meta property="og:image" content="./bg-logo-shared.png" />
    <link rel="icon" type="image/ico" href="./favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="./apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="./favicon-16x16.png"
    />
    <link rel="manifest" href="./site.webmanifest" />
    <meta property="og:title" content="BTG Pactual :: Evento en vivo" />
    <meta property="og:image" content="./android-chrome-512x512.png" />
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->

    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-MMFHRZGM"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >

    <!-- End Google Tag Manager (noscript) -->
    <slot />
    <script is:inline>
      function onSubmit(token) {
        document.getElementById("mc-embedded-subscribe-form").requestSubmit();
      }
    </script>
  </body>
</html>

<style>
  html,
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #ffffff;
    font-family: "BTG Pactual Office", sans-serif;
    font-size: 16px;
    line-height: 1.125rem;
    scroll-behavior: smooth;
  }
</style>
